In [1]:
import sqlite3

In [4]:
# 连接数据库
conn = sqlite3.connect('test.db')
# 创建表
create_sql = 'create table company(id int primry key not null, emp_name text not null)'
# 执行
conn.execute(create_sql)
# 插入数据
# 使用参数方法，当值注入攻击
insert_sql = 'insert into company values(?, ?)'
conn.execute(insert_sql, (100, 'PL'))
conn.commit()
conn.execute(insert_sql, (200, 'LP'))
# 根据id查找数据
cursors = conn.execute('select id, emp_name from company')
for row in cursors:
    print(row[0], row[1])
conn.close()

OperationalError: table company already exists